/* Styling for the date picker */
.custom-datepicker {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 200%;
    min-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.custom-datepicker-light {
    border: 2px solid #ecececcc;
    color: #333;
}

.custom-datepicker-dark {
    border: 2px solid #abb0b42e;
    color: #e2e8f0;
    background-color: #2d3748;
}

.custom-datepicker .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.custom-datepicker .react-datepicker__input-container input:focus {
    outline: none;
    box-shadow: 0 0 5px #797b79;
}

.custom-datepicker-dark .react-datepicker__input-container input:focus {
    box-shadow: 0 0 5px #90cdf4;
}


/* Styling for the multiselect */
.custom-multiselect {
    border: 1px solid #ececec00;
    color: #333;
    background-color: #ffffff;
    border-radius: 5px;
}

.custom-multiselect-light {
    border: 1px solid #ececec00;
    color: #333;
    background-color: #ffffff;
}

.custom-multiselect-dark {
    border: 1px solid #1b1c1c0f;
    color: #e2e8f0;
    background-color: #2d3748;
}


/* Styling for the options */
.custom-multiselect-light .option {
    background-color: #ffffff;
    color: #333;
}

.custom-multiselect-dark .option {
    background-color: #2d3748;
    color: #e2e8f0;
}

.custom-multiselect-light .option:hover {
    background-color: #4a5568;
}

.custom-multiselect-dark .option:hover {
    background-color: #4a5568;
}